In [1]:
import requests as req
from bs4 import BeautifulSoup as bs

In [3]:
#1. req를 활용해서 페이지 정보를 요청
res = req.get('https://finance.naver.com/sise/sise_market_sum.naver')

In [6]:
#2. bs를 통해서 soup데이터로 변형
soup = bs(res.text, 'lxml')

In [11]:
#3. 종목명을 수집
title = soup.select('a.tltle')

In [12]:
len(title)

50

In [14]:
#4. 가격을 수집
# 선택자를 한번에 복사해 오는 방법
# 개발자도구 -> 원하는 요소 -> 우클릭 -> copy -> copyselctor
# 주의점! 반드시 내가 선택한 요소 한개의 선택자만 반환
# 복수개를 수집할 때는 반드시 선택자를 수정
# 단수개를 의미하는 선택자를 제거 (id, nth-child(n))

soup.select('#contentarea > div.box_type_l > table.type_2 > tbody > tr > td:nth-child(3)')

[<td class="number">73,300</td>,
 <td class="number">150,400</td>,
 <td class="number">393,500</td>,
 <td class="number">821,000</td>,
 <td class="number">249,500</td>,
 <td class="number">62,700</td>,
 <td class="number">117,700</td>,
 <td class="number">180,700</td>,
 <td class="number">435,000</td>,
 <td class="number">493,500</td>,
 <td class="number">204,000</td>,
 <td class="number">168,800</td>,
 <td class="number">68,500</td>,
 <td class="number">386,500</td>,
 <td class="number">59,200</td>,
 <td class="number">242,500</td>,
 <td class="number">44,250</td>,
 <td class="number">287,000</td>,
 <td class="number">58,500</td>,
 <td class="number">84,900</td>,
 <td class="number">99,500</td>,
 <td class="number">101,600</td>,
 <td class="number">78,200</td>,
 <td class="number">204,000</td>,
 <td class="number">311,500</td>,
 <td class="number">22,950</td>,
 <td class="number">30,250</td>,
 <td class="number">127,000</td>,
 <td class="number">163,500</td>,
 <td class="number">18,280</td>,
 <td class="number">177,700</td>,
 <td class="number">91,400</td>,
 <td class="number">53,100</td>,
 <td class="number">235,500</td>,
 <td class="number">15,060</td>,
 <td class="number">14,100</td>,
 <td class="number">41,450</td>,
 <td class="number">137,200</td>,
 <td class="number">57,900</td>,
 <td class="number">15,510</td>,
 <td class="number">110,300</td>,
 <td class="number">464,500</td>,
 <td class="number">69,700</td>,
 <td class="number">58,000</td>,
 <td class="number">23,500</td>,
 <td class="number">75,000</td>,
 <td class="number">119,100</td>,
 <td class="number">202,000</td>,
 <td class="number">157,700</td>,
 <td class="number">1,027,310</td>]