# 필기답안지

## 문제1 
다음은 빅데이터 수집방식에 대한 설명이다. 빈 칸에 알맞은 방식을 고르시오.

- 1 : a.로그수집
- 2 : f.크롤링
- 3 : c.오픈API
- 4 : h.센서수집

## 문제2
크롤링의 개념과 필요성에 대해 서술하시오.
- 답안 : 인터넷상에서 제공되는 웹문서의 정보를 수집하는 것으로, 
        많은 데이터를 한번에 빠르게 수집할 수 있기 때문에 유용하다.

## 문제3
BeautifulSoup모듈에 대해 서술하시오.
- 답안 : requests로 받아온 텍스트를 컴퓨터가 이해할 수 있게 HTML로 변환시켜주는 라이브러리이다.

## 문제4
다음 두 보기의 차이를 설명하시오.
- 1 : find_element(By.CSS_SELECTOR) : 하나의 선택자를 찾아올 때 사용한다
- 2 : find_elements(By.CSS_SELECTOR) : 여러개의 선택자를 찾아올 때 사용한다

## 문제5
다음은 HTML코드로 이루어진 웹 페이지이다. 밑줄 그어진 부분 BeautifulSoup 모듈의 함수를 이용하여 텍스트만 수집할 수 있는 코드에 빈칸을 작성하시오.
- soup = bs(res.text, ‘lxml’)
- crawling = soup.select_one(span#this_span)
- print(crawling.(text))

# 실기답안지

## 문제2
자동제어를 통해 네이버 홈페이지에 접속하고 ‘크롤링’를 입력하여 검색하는      시스템을 구축하시오.

In [1]:
from selenium import webdriver as wb
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [3]:
driver = wb.Chrome()

In [5]:
driver.get("https://www.naver.com")

In [8]:
search = driver.find_element(By.CSS_SELECTOR, "#query")
search.click()

In [9]:
search.send_keys("크롤링")
search.send_keys(Keys.ENTER)

# 문제3
자동제어를 통해 G마켓 홈페이지에 접속하고, 조건에 맞는 수집프로그램을 만드시오.

In [28]:
from selenium import webdriver as wb
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [29]:
driver = wb.Chrome()
driver.get("http://corners.gmarket.co.kr/Bestsellers")

In [14]:
img = driver.find_elements(By.CSS_SELECTOR, "#gBestWrap > div.best-list > ul > li > div.thumb > a > img")
img[0].click()

In [16]:
title = driver.find_element(By.CSS_SELECTOR, "#itemcase_basic > div.box__item-title > h1")
title.text

'슈퍼파워 터보 팬 다용도 에어건 크로스건 13만RPM 자동차 눈털기 먼지털기 캠핑 먼지털기 휴대용 청소기'

In [24]:
try:
    price =driver.find_element(By.CSS_SELECTOR, "#itemcase_basic > div.box__item-title > div.price > span.price_innerwrap.price_innerwrap-coupon > strong")
    price.text
except: 
    price = driver.find_element(By.CSS_SELECTOR, "#itemcase_basic > div.box__item-title > div.price > span:nth-child(2) > strong")
    price.text

'38,500원'

In [25]:
driver.back()

In [30]:
import time
from tqdm.notebook import tqdm

In [31]:
title_list=[]
price_list=[]

for i in tqdm(range(20)):
    img = driver.find_elements(By.CSS_SELECTOR, "#gBestWrap > div.best-list > ul > li > div.thumb > a > img")
    img[i].click()
    time.sleep(1)
    
    title = driver.find_element(By.CSS_SELECTOR, "#itemcase_basic > div.box__item-title > h1")
    try:
        price =driver.find_element(By.CSS_SELECTOR, "#itemcase_basic > div.box__item-title > div.price > span.price_innerwrap.price_innerwrap-coupon > strong")
    except: 
        price = driver.find_element(By.CSS_SELECTOR, "#itemcase_basic > div.box__item-title > div.price > span:nth-child(2) > strong")
    
    title_list.append(title.text)
    price_list.append(price.text)
    driver.back()
    time.sleep(1)

  0%|          | 0/20 [00:00<?, ?it/s]

In [32]:
import pandas as pd

In [33]:
dic = {"상품명": title_list, "가격":price_list}

In [34]:
gmarket = pd.DataFrame(dic)
gmarket

                                                  상품명        가격
0   (15%+5%쿠폰) 브이빈 겨울마감+봄맞이 BEST신상 데일리룩/가디건/니트/자켓/...    8,000원
1                       (최종2.3만)차이슨 헤어 드라이어 드라이기+노즐5개   23,900원
2   슈퍼파워 터보 팬 다용도 에어건 크로스건 13만RPM 자동차 눈털기 먼지털기 캠핑 ...   32,730원
3                            한성기업 크래미 몬스터크랩 72g X 15개   13,430원
4           (유니버스클럽 전용 쿠폰적용가 5천원) 메가박스 일반예매권 2D-주중/주말   15,000원
5             (선)브래비 유니 TRAINING SET F-ZIP N231UFT010   79,470원
6                      15%+10% 버블트리 봄신상 스쿨룩 베이비페어 특가전   11,250원
7                     하기스 네이처메이드 밤부 밴드/팬티 기저귀 1박스 모음전   56,900원
8   BSP D9 휴대용 모바일 게이밍 컨트롤러 안드로이드 아이폰 태블릿 스위치 PC 윈...   32,700원
9                            멸균우유 200ml 24입+24입 (2박스)   24,980원
10  수퍼맘스토리카페/총 120종의 대작/보카사이언스/Visual Literacy/Tal...  178,800원
11                        하기스 맥스드라이 밴드/팬티 기저귀 1박스 모음전   49,920원
12                     포스트 아몬드후레이크 620gx3 +밀폐용기2P(증정)   13,590원
13  (15+5%쿠폰)비비안 비너스 외 고탄력 팬티 스타킹 10매 7매 벌크 학생 압박 ...    8,730원
14  ((15+5%쿠폰 오늘만 역마진SALE)) 데이뮤즈 봄신상 트렌치코트/점퍼/자켓/팬...   10,970원
15  (15%+5%쿠폰+무료반품) 홈쇼핑 1+1.SET 니트/팬츠/패딩 외 그렌 코튼모달...    9,280원
16                           제주삼다수 무라벨 2L 24병 /생수전문배송   22,800원
17               여수사나이 국내산 돌산갓김치 1.5kg 남도김치 산지직송 당일생산    9,350원
18                       바브키즈 10+15% 쿠폰 봄상품 출시 상하복 모음    8,370원
19        혜택가 38만원대 LG전자 휘센 제습기 20L 블루 DQ202PBBC 빠른배송   418,270

# 문제4
멜론차트에서 1~100위까지 정보를 수집하는 프로그램을 작성하시오.

In [35]:
from selenium import webdriver as wb
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [36]:
driver = wb.Chrome()
driver.get("https://www.melon.com/chart/")

In [39]:
title = driver.find_elements(By.CSS_SELECTOR, "td > div > div > div.ellipsis.rank01 > span > a")
title[0].text

'밤양갱'

In [40]:
len(title)

100

In [41]:
singer = driver.find_elements(By.CSS_SELECTOR, "td > div > div > div.ellipsis.rank02")
singer[84].text

'경서예지, 전건호'

In [42]:
len(singer)

100

In [44]:
title_list=[]
singer_list=[]
rank_list=[]

for i in range(100):
    title_list.append(title[i].text)
    singer_list.append(singer[i].text)   
    rank_list.append(i+1)

In [45]:
dic = {"가수명":singer_list, "곡명":title_list, "순위":rank_list}

In [46]:
import pandas as pd

In [49]:
melon = pd.DataFrame(dic)
melon.set_index("순위", inplace=True)
melon

              가수명                곡명
순위
1       비비 (BIBI)               밤양갱
2             아이유     Love wins all
3       TWS (투어스)  첫 만남은 계획대로 되지 않아
4    태연 (TAEYEON)             To. X
5             아이유                홀씨
..            ...               ...
96          PLAVE   Merry PLLIstmas
97            안세하        I Love You
98    STAYC(스테이씨)            Bubble
99          PLAVE          여섯 번째 여름
100            탑현          나에게 그대만이

[100 rows x 2 columns]

In [50]:
melon.to_csv("멜론차트.csv", encoding="euc-kr")

# 문제5
자동제어를 통해 한솥 페이지에 접속하고 전체 메뉴의 메뉴명 가격정보를 수집할 수 있는 프로그램을 작성하세요

In [51]:
from selenium import webdriver as wb
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [52]:
driver = wb.Chrome()

In [53]:
driver.get("https://www.hsd.co.kr/menu/menu_list")

In [58]:
import time

In [60]:
try: 
    for i in range(50):
        btn_more = driver.find_element(By.CSS_SELECTOR, "#btn_more > span > a")
        btn_more.click()
        time.sleep(1)
except:
    print("더보기 완료")

더보기 완료

In [61]:
menu = driver.find_elements(By.CSS_SELECTOR, "div > div.item-text > h4")
menu[3].text

'해바라기'

In [62]:
price = driver.find_elements(By.CSS_SELECTOR, "div > div.item-text > div")
price[4].text

'10,500원'

In [63]:
len(menu)

94

In [64]:
len(price)

94

In [65]:
menu_list = []
price_list = []

for i in range(len(menu)):
    menu_list.append(menu[i].text)
    price_list.append(price[i].text)

In [66]:
import pandas as pd

In [67]:
dic = {"메뉴명":menu_list, "가격":price_list}

In [69]:
hansot = pd.DataFrame(dic)
hansot

                   메뉴명       가격
0          사골 조랭이떡 만둣국   5,900원
1   한우 함박스테이크 & 반달 돈까스   8,900원
2     한우함박스테이크&토네이도소세지   8,900원
3                 해바라기  10,000원
4                   매화  10,500원
..                 ...      ...
89                  김치     400원
90             무말랭이 무침     500원
91                 한솥밥   1,000원
92                 현미밥   1,700원
93            리얼꿀 미니호떡   2,200원

[94 rows x 2 columns]

In [70]:
hansot.to_csv("한솥메뉴.csv", encoding="euc-kr")