In [1]:
a =[]
b = [1,2,3]
c = ['My', 'name', 'is', 'MH']
d = [1,2,'My','name']
e = [1,2,['My','name']]
print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['My', 'name', 'is', 'MH']
[1, 2, 'My', 'name']
[1, 2, ['My', 'name']]

In [2]:
# 인덱싱 / 슬라이싱 실습
# 1. 내부의 값이 0부터 9까지 있는 리스트를 하나 만들어주세요
list1 = [0,1,2,3,4,5,6,7,8,9]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# 인덱싱 문제
# 인덱싱을 하는 방법 : 리스트명 [가져오고 싶은 자료가 있는 인덱스 번호]
# 1-1. 숫자 4를 가져와보자.
list1[4]

4

In [4]:
# 1-2. 숫자 4, 9, 7를 가져와보자. 
print(list1[4], list1[-1], list1[7])
list1[4], list1[9], list1[7]

4 9 7

(4, 9, 7)

In [5]:
# 2. 숫자 1,2,3과 ['a','b','c']를 이용해서 2차원 리스트를 만들어보자
list2 = [1,2,3,['a','b','c']]
list2

[1, 2, 3, ['a', 'b', 'c']]

In [6]:
# temp라는 변수를 지정해서 ['a','b','c']가 들어있는 리스트를 인덱싱 해보자
temp = list2[3]
temp

['a', 'b', 'c']

In [7]:
# 2-2 temp에 저장된 리스트에서 b라는 문자만 인덱싱 해오자
temp[1]

'b'

In [8]:
# 2-2 다른 형태로 b를 출력해보자
list2[3][1]

'b'

In [9]:
list3 = [[0,1,2,3],
         [4,5,6,7],
         [8,9,10,11],
         [12,13,14,15]]
list3

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [10]:
list3[1][1]

5

In [11]:
# 리스트 슬라이싱
# 슬라이싱 규칙
# 1. 인덱스에 숫자는 0부터 시작한다.
# 2. 슬라이싱 끝 값은 항상 +1을 해준다.

In [12]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# 3부터 7까지의 숫자를 가져와주세요
list1[3:8]

[3, 4, 5, 6, 7]

In [14]:
# 0부터 4까지의 숫자를 가져와주세요
list1[:5]

[0, 1, 2, 3, 4]

In [15]:
# 6부터 9까지 숫자를 가져와주세요
list1[6:]

[6, 7, 8, 9]

In [16]:
# 전체 숫자를 가져와주세요
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# 짝수번째
list1[::2]

[0, 2, 4, 6, 8]

In [18]:
list1 + list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
# 리스트 맨 뒤에 값을 추가해보자
list4 = [1,2,3,4,5]
list4

[1, 2, 3, 4, 5]

In [20]:
# append(추가해줄 값) : 리스트 맨 뒤에 값을 추가해주는 함수
list4.append(6)
list4

[1, 2, 3, 4, 5, 6]

In [21]:
# 인덱싱 + append 실습
list_ = ['사과', '포도', ['수박', '멜론'], '복숭아', '딸기', '오렌지']
#뽑아온 리스트를 저장할 빈 리스트 선언
choice_list = []

# choice_list에 담아줄 과일 인덱싱 해오기
a = list_[0]
w = list_[2][0]
o = list_[-1]

# choice_list에 쌓아주기
choice_list.append(a)
choice_list.append(o)
choice_list.append(w)
# 바로 choice_list.append(list_[0]) 해도 됨

choice_list

['사과', '오렌지', '수박']

In [22]:
list5 = [0,1,2,3,4]
list5

[0, 1, 2, 3, 4]

In [23]:
# insert(인덱스 번호, 넣어줄 값)
# 0,5,1,2,3,4 만들기
list5.insert(1, 5)
list5

[0, 5, 1, 2, 3, 4]

In [24]:
# insert 실습
music_list = [['디셈버', '심'],
              ['BMK', '물들어'],
              ['SG워너비', '해바라기']]

In [25]:
# music_list 인덱스가 1인 곳에 ['창모', '메테오'] 추가
music_list.insert(1, ['창모', '메테오'])
music_list

[['디셈버', '심'], ['창모', '메테오'], ['BMK', '물들어'], ['SG워너비', '해바라기']]

In [26]:
# music_list 인덱스가 3인 곳에 ['장미여관', '퇴근하겠습니다'] 추가
music_list.insert(3, ['장미여관', '퇴근하겠습니다'])
music_list

[['디셈버', '심'],
 ['창모', '메테오'],
 ['BMK', '물들어'],
 ['장미여관', '퇴근하겠습니다'],
 ['SG워너비', '해바라기']]

In [27]:
# music_list 마지막에 ['노라조', '니팔자야']
music_list.append(['노라조', '니팔자야'])
music_list

[['디셈버', '심'],
 ['창모', '메테오'],
 ['BMK', '물들어'],
 ['장미여관', '퇴근하겠습니다'],
 ['SG워너비', '해바라기'],
 ['노라조', '니팔자야']]

In [28]:
# 인덱스 번호(정수형) / 가수명 / 노래 제목 입력받는 입력문 만들기 -> 변수에 저장
index = int(input('인덱스 번호 >> '))
artist = input('가수명 >> ')
title = input('노래 제목 >> ')

# insert문을 이용해서 music_list에 새로운 값을 추가해주세요
music_list.insert(index, [artist, title] )
music_list

인덱스 번호 >> 4
가수명 >> 에이프릴
노래 제목 >> 봄의 나라 이야기

[['디셈버', '심'],
 ['창모', '메테오'],
 ['BMK', '물들어'],
 ['장미여관', '퇴근하겠습니다'],
 ['에이프릴', '봄의 나라 이야기'],
 ['SG워너비', '해바라기'],
 ['노라조', '니팔자야']]

In [29]:
# 리스트 수정
print(f'수정 전 : {list1[5]}')
list1[5] = 10
print(f'수정 후 : {list1[5]}')

수정 전 : 5
수정 후 : 10

In [30]:
list10 = [0,1,2,3,4,5,6,7,8,9]
list10[3:7]

[3, 4, 5, 6]

In [31]:
# 여러개의  값을 바꿔보자 - 슬라이싱을 이용하자
list10 = [0,1,2,3,4,5,6,7,8,9]
list10[3 : 7] = [10,10,10,10]  # 갯수만큼 채우기
list10

[0, 1, 2, 10, 10, 10, 10, 7, 8, 9]

In [9]:
array = [1,2,3,4,5]
array

[1, 2, 3, 4, 5]

In [10]:
# 리스트 array에 숫자 5를 7으로 바꾸시오.
array[4] = 7
array

[1, 2, 3, 4, 7]

In [11]:
# 리스트 array에 숫자 2를 리스트 ['a','b','c']로 바꾸시오.
array[1] = ['a','b','c']
array

[1, ['a', 'b', 'c'], 3, 4, 7]

In [13]:
# 리스트 array에 4,7를 'd','e','f','g'로 바꾸시오.
array[-2:] = 'd','e','f','g'
array

[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [36]:
array[0]

1

In [37]:
array[0:1]  # 리스트로 바뀜. (h,i,j) 아닌 h,i,j 로 수정 가능

[1]

In [38]:
# 리스트 array에 1을 'h','i','j'로 바꾸시오.
array[:1] = 'h','i','j'
array

['h', 'i', 'j', ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [39]:
# 리스트 값 삭제
list11 = [0,1,2,3,4,5]

In [40]:
# del 키워드 사용
del list11[0] # 인덱스 번호 넣어주기
list11

[1, 2, 3, 4, 5]

In [41]:
del list11[1:5]
list11

[1]

In [42]:
# 값을 가지고 삭제하는 방법 -remove()
list12 = ['a','b','c','d','e','c']

In [43]:
list12.remove('c') # 처음 만나는 해당값을 지우고 되돌려준다.

In [44]:
list12

['a', 'b', 'd', 'e', 'c']

In [15]:
# 정렬 - sort() : 오름차순 정렬
list13 = [13,27,1,32,45,7]
list13.sort()
list13

[1, 7, 13, 27, 32, 45]

In [46]:
#리스트를 반대로 뒤집는 함수 - reverse()
list13 = [13,27,1,32,45,7]
list13.reverse()

In [47]:
list13

[7, 45, 32, 1, 27, 13]

In [48]:
# 내림차순 정렬을 진행해보자
list13 = [13,27,1,32,45,7]  # shift tab : docstring 정보.......
list13.sort(reverse=True)   # sort안에 reverse...
list13

[45, 32, 27, 13, 7, 1]

In [49]:
# 리스트 값 위치 출력 / 제거 
list14 = ['a','b','c','d','e']

In [50]:
# 리스트 내부에 위치한 자료의 인덱스를 확인한 방법
list14.index('c')

2

In [51]:
# pop() : 마지막 값을 출력 후 리스트에서 제거 
list14.pop()   # 스택,큐 에서 push/pop

'e'

In [52]:
list14

['a', 'b', 'c', 'd']

In [53]:
# len(리스트) - 리스트 내부의 값 갯수를 출력할 때 사용
# 반복문의 범위를 정하거나 리스트 내부의 데이터 갯수를 체크할 때 사용
len(list14)

4

In [54]:
for i in list14 :
    print(i)

a
b
c
d

In [55]:
for i in range(len(list14)) :
    print(list14[i])

a
b
c
d

In [56]:
# 튜플

a = ()
b = (1,2,3)
c = ('My','name','is','MH')
d = (1,2,'My','name')
e = (1,2,('My','name'))

In [57]:
c = ('My','name','is','GW')
c

('My', 'name', 'is', 'GW')

In [58]:
c[4] = 'KN'  # 튜플은 수정 불가

TypeError: 'tuple' object does not support item assignment

In [59]:
b.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [60]:
b = (1,2,3)  # 튜플 인덱싱 가능
b[1]

2

In [61]:
b[1:]   # 슬라이싱 가능

(2, 3)

In [62]:
len(b)

3

In [63]:
# in() - 찾고자 하는 값(x)가 포함되었을 때 포함이 되면 True
#      - 아니면 False
# not in() - 찾고자 하는 값(x)가 포함되었을 때 포함이 되면 False
#      - 아니면 True

In [64]:
str1 = '마지막 시간입니다. 여러분들 고생하셨어요!'

In [65]:
'마지막' in str1

True

In [66]:
'첫' in str1

False

In [67]:
list13

[45, 32, 27, 13, 7, 1]

In [68]:
37 in list13

False

In [69]:
45 in list13

True

In [70]:
45 not in list13

False

In [4]:
# 문자열에 사용자가 입력한 글자가 몇개 포함되어있는지 출력을 해주세요
s = '오늘은 금요일입니다! 주말이 얼마 남지 않았어요!'

# 입력문 받기
a = input('입력 >> ')
# 우리가 지정한 문장에서 입력받은 글자가 몇개 있는지 체크를 해보자
b = s.count(a) 

# 조건문 작성
# 만약 우리가 입력받은 글자가 s라는 문장 내부에 있다면
if a in s :
    print(f'{a}는(은) {b}번 들어있습니다.')
# 글자가 없다면
else :
    print(f'{a}는(은) 들어있지 않습니다....')

입력 >> 않
않는(은) 1번 들어있습니다.