In [1]:
# 예시 함수를 하나 만들어보자
def hello(name) : 
    return f'{name}씨 안녕하세요'

In [2]:
hello('규남')

'규남씨 안녕하세요'

In [4]:
hello('지금 졸고 있는 상원')

'지금 졸고 있는 상원씨 안녕하세요'

In [1]:
def number_minus(num1, num2) :
    return num1-num2 if num1>num2 else num2-num1

num1 = int(input('첫 번째 정수 입력 >> '))
num2 = int(input('두 번째 정수 입력 >> '))
rs = number_minus(num1, num2)
rs

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 3

7

In [1]:
def cal(num1, num2, op):
    """덧셈과 뺄셈을 해주는 함수"""  # docstring추가.. shift tab으로 확인
    if op == '+':
        return num1+num2
    elif op == '-' :
        return num1-num2 if num1>num2 else num2-num1
    else :
        return print('다시 입력하세요')

In [2]:
  
num1 = int(input('첫 번째 정수 입력 >> '))
num2 = int(input('두 번째 정수 입력 >> '))
op = input('연산자 입력(+,-) >> ')
result = cal(num1, num2, op)
print('결과 : {}'.format(result))
print(f'결과 : {result}')

첫 번째 정수 입력 >> 2
두 번째 정수 입력 >> 11
연산자 입력(+,-) >> +
결과 : 13
결과 : 13

In [12]:
# 여러개의 숫자를 받아서 모두 더해주는 함수를 만들어보자
def add(*args) :
    return sum(args)

In [13]:
add(1,2,3)

6

In [14]:
add(1,2,3,4,5,6,7)

28

In [2]:
def add_sub(num1,num2) :
    return num1+num2, num1-num2

In [3]:
  
num1 = int(input('첫 번째 정수 입력 >> '))
num2 = int(input('두 번째 정수 입력 >> '))
result = add_sub(num1, num2)
print(f'결과 : {result}')

첫 번째 정수 입력 >> 5
두 번째 정수 입력 >> 3
결과 : (8, 2)

In [21]:
# 값을 하나씩 가져오는 방법 : 1.인덱싱
result[0]

8

In [23]:
# 값을 하나씩 가져오는 방법 : 2. 다중 변수 입력
result_add, result_minus = add_sub(5,3)
print(result_add)
print(result_minus)

8
2

In [5]:
# 함수 기본값 설정하기
def power_of_n(num, power=2) :
    return num ** power

In [6]:
power_of_n(4,3) # 변경 가능

64